<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal_kit">
  <description>Drupal coding standards for parisek/drupal-kit.</description>

  <file>src</file>
  <file>tests</file>
  <file>drupal_kit.install</file>
  <file>drupal_kit.module</file>

  <arg name="extensions" value="php,module,install,inc"/>
  <arg name="report-width" value="120"/>
  <arg value="p"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
